<header class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <form class="form-header" action="" method="POST"></form>
                <div class="header-button">
                    <div class="account-wrap">
                        <div class="account-item clearfix js-item-menu">
                            <div class="image">
                                <img style="border-radius:50%;height: 40px" id="pimg1" onerror="dummy()" class="profilePicImages">
                            </div>
                            <div class="content">
                                <a class="js-acc-btn" href="#"><span class="userNameSpans"></span></a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="info clearfix">
                                    <div class="image">
                                        <img style="border-radius:50%;height: 65px" id="pimg1" onerror="dummy()" class="profilePicImages">
                                    </div>
                                    <div class="content">
                                        <h5 class="name">
                                            <a href="#">
                                                <span class="userNameSpans"></span>
                                            </a>
                                        </h5>
                                        <span id="emailSpan"></span>
                                    </div>
                                </div>
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="/profile">
                                            <i class="zmdi zmdi-account"></i>Profile</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="/faq">
                                            <i class="zmdi zmdi-assignment"></i>FAQ</a>
                                    </div>
                                </div>
                                <div class="account-dropdown__footer">
                                    <a href="/logout">
                                        <i class="zmdi zmdi-power"></i>Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>