<header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a href="/dashboard" style="color: black;font-size: 30px">
                    <img src="/views/home/img/playstore.png" alt="Learn" style="height: 52px;width: 52px;float: left">
                    <h2 style="float: left;padding-left: 10px;padding-top: 5px">Learn</h2>
                </a>
                <button class="hamburger hamburger--slider" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li><a class="js-arrow" href="/dashboard"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
                <li><a href="/learn"><i class="fas fa-chart-bar"></i>Learn</a></li>
                <li><a href="/activity"><i class="fas fa-table"></i>My Activity</a></li>
                <li><a href="/profile"><i class="far fa-check-square"></i>Profile</a></li>
                <li><a href="/faq"><i class="zmdi zmdi-assignment"></i>FAQ</a></li>
                <li><a href="/logout"><i class="fas fa-key"></i>Logout</a></li>
            </ul>
        </div>
    </nav>
</header>

<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="/dashboard" style="color: black;font-size: 30px">
            <img src="/views/home/img/playstore.png" alt="Learn" style="height: 52px;width: 52px;float: left">
            <h2 style="float: left;padding-left: 10px;padding-top: 5px">Learn</h2>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li <% if (activeName === "Dashboard") { %> class="active" <% } %>><a class="js-arrow" href="/dashboard"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
                <li <% if (activeName === "Learn") { %> class="active" <% } %>><a href="/learn"><i class="fas fa-chart-bar"></i>Learn</a></li>
                <li <% if (activeName === "Activity") { %> class="active" <% } %>><a href="/activity"><i class="fas fa-table"></i>My Activity</a></li>
            </ul>
        </nav>
    </div>
</aside>

