<div class="card img-fluid" style="width:500px">
    <img class="card-img-top" src="<%= profilePic %>" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
        <h4 class="card-title">John Doe</h4>
    </div>
</div>