<!doctype html>
<html lang="en">

<head>
    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Learn | About</title>
    <link rel="icon" type="image/png" href="/views/home/img/playstore.png">
    <!-- CSS -->
    <link rel="icon" type="image/png" href="/views/home/img/playstore.png">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/views/home/css/bootstrap.min.css">
    <link rel="stylesheet" href="/views/home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/views/home/css/magnific-popup.min.css">
    <link rel="stylesheet" href="/views/home/css/font-awesome.min.css">
    <link rel="stylesheet" href="/views/home/css/themify-icons.min.css">
    <link rel="stylesheet" href="/views/home/css/nice-select.min.css">
    <link rel="stylesheet" href="/views/home/css/flaticon.min.css">
    <link rel="stylesheet" href="/views/home/css/gijgo.min.css">
    <link rel="stylesheet" href="/views/home/css/animate.min.css">
    <link rel="stylesheet" href="/views/home/css/slick.min.css">
    <link rel="stylesheet" href="/views/home/css/slicknav.min.css">
    <link rel="stylesheet" href="/views/home/css/style.min.css">
</head>

<body>
<!-- Header -->
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="/" style="color: white;font-size: 30px">
                                <!-- must add learn logo with name -->
                                <img src="/views/home/img/playstore.png" alt="Learn"
                                     style="height: 52px;width: 52px;">Learn
                                <!-- <h3 style="color: white">Learn</h3> -->
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8">
                        <div class="main-menu  d-none d-lg-block text-center">
                            <nav>
                                <ul id="navigation">
                                    <li><a class="active" href="/">Home</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/signup">Sign up</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Slider -->
<div class="slider_area">
    <div class="single_slider about_banner  d-flex align-items-center slider_bg_2 overlay">
        <div class="container">
            <div class="row align-items-center justify-content-start">
                <div class="col-lg-12 col-md-12">
                    <div class="about_slider_text ">
                        <h4 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                            We are a group of engineers who
                            wish to provide students
                            the actual content to be learned,
                            not read.
                        </h4>
                    </div>
                </div>
            </div>
            <div style="display: flex;justify-content:space-evenly"><a data-scroll="" href="#ourmission">
                <i class="fas fa-chevron-down fa-2x" style="color: white;margin-top: 7vh"
                   aria-hidden="true"></i>
            </a></div>
        </div>
    </div>
</div>

<!-- Mission -->
<div class="our_mission_area" id="ourmission">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!-- <div class="mission_text">
                <h3>Our Mission</h3>
            </div> -->
            </div>
            <div class="col-md-6">
                <div class="mision_info">
                    <div class="single_mission">
                        <!-- TODO: Add Mission -->
                        <img src="/views/home/img/about/mission.png" alt="" style="width:100%">
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

<!-- About -->
<!-- <div class="about_area">
<div class="container">
    <div class="row justify-content-end">
        <div class="col-lg-5 offset-lg-1">
            <div class="about_info">
                <div class="section_title white_text">
                    <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s" style="color: black;">About Us</h3>
                    <p class="mid_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Learn aims to
                        provide
                        curated educational resources, made available by various educators and content creators
                        around the world, across various domains, to students.
                        We at Learn believe that we must learn the concepts for our better understanding and skill
                        development, not just study them for the sake of marks.
                        Learn provides a platform for Students to access various resources such as Videos, Courses,
                        etc.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div> -->

<div class="container">
    <h1 class="wow fadeInUp head_title" data-wow-duration="1s" data-wow-delay=".3s">How is Learn beneficial?</h1>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="hero-card  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s"
                 style="height:100%;opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; ">
                <h3 class="">1.CURATED BEST CONTENT</h3>
                <p class="" style="font-size: 15px; width: 90%;">We ensure that we curate the best content available
                    online, just for you ! You get the perfect material to study the major topics of Engineering.
                    This platform will help you understand every important topic in-depth.
                </p>
            </div>

        </div>
        <div class="col-md-4">
            <div class="hero-card wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s"
                 style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                <h3 class="card-title">2.SAVES YOUR TIME</h3>
                <p class="card-text" style="font-size: 15px; width: 90%;">By using Learn you can save a lot of time
                    in searching the best content available online. We understand how hard it is to stick into one
                    material to study, we keep searching for the better ones. We have reduced your work by doing
                    this for you. No need to search for the best because we give only the best!
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hero-card  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s"
                 style="height:100%;opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                <h3>3.ACCESS IT ANYWHERE, ANYTIME</h3>
                <p class="card-text" style="font-size: 15px; width: 90%;">You can now LEARN irrespective wherever
                    you are !
                    You needn't have to carry a book to study, just login to <a href="/"
                                                                                style="color: #77448b; font-weight: bold;">Learn</a>
                    and start learning:) <br>
                    Your work is made simpler and better.
                </p>
            </div>
        </div>
        <br>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="hero-card  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s"
                 style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; ">
                <h3 class="">4. DIFFERENT TYPES OF CONTENT</h3>
                <p class="" style="font-size: 15px; width: 90%;"> Learn has different types of content to study. For
                    each topic you choose, the content will be of <span
                            style="color: #77448b; font-weight: bold;">Videos, Documents or Courses.</span> Whichever is
                    comfortable for you, you can study that way. </p>
            </div>
            <br>
        </div>
        <div class="col-md-4">
            <div class="hero-card wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s"
                 style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                <h3 class="card-title">5.FREE OF COST</h3>
                <p class="card-text" style="font-size: 15px; width: 90%;">We do not ask you to pay even a penny for
                    the service we are providing. You can make use of all the available curated materials for free!
            </div>
        </div>
        <div class="col-md-4">
            <div class="hero-card  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s"
                 style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                <h3>6. EASY TO USE</h3>
                <p class="card-text" style="font-size: 15px; width: 90%;"> <span
                        style="color: #77448b; font-weight: bold;">Learn</span> has very simple interface to make
                    all the students feel comfortable and easy to use this application. Choose what you want to
                    learn -> Choose the stream -> Choose a topic-> Click on the material -> <span
                            style="color: #77448b; font-weight: bold;">learn</span> it!
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Developers -->
<div class="team_area ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-90">
                    <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Our Team</h3>
                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">The developers of Learn</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="display: flex; justify-content: center">
                <div class="col-lg-3 col-md-6">
                    <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="team_thumb">
                            <img src="/views/home/img/team/srivalli.jpg" alt="">
                            <div class="team_hover">
                                <div class="hover_inner text-center">
                                    <ul>
                                        <li><a href="https://github.com/srivallisb/"> <i class="fab fa-github"></i>
                                        </a>
                                        </li>
                                        <li><a href="https://www.linkedin.com/in/srivallisb/"> <i
                                                class="fab fa-linkedin"></i> </a></li>
                                        <li><a href="https://www.instagram.com/srivalli_1526/"> <i
                                                class="fab fa-instagram"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team_title text-center">
                            <h3>Srivalli SB</h3>
                            <p>Web Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="team_thumb">
                            <img src="/views/home/img/team/suprad.jpg" alt="">
                            <div class="team_hover">
                                <div class="hover_inner text-center">
                                    <ul>
                                        <li><a href="https://github.com/suprad-parashar"> <i
                                                class="fab fa-github"></i>
                                        </a>
                                        </li>
                                        <li><a href="https://www.linkedin.com/in/supradparashar/"> <i
                                                class="fab fa-linkedin"></i> </a></li>
                                        <li><a href="https://www.instagram.com/suprad.parashar/"> <i
                                                class="fab fa-instagram"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team_title text-center">
                            <h3>Suprad Parashar</h3>
                            <p>Android Application Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                        <div class="team_thumb">
                            <img src="/views/home/img/team/sandeep.jpg" alt="">
                            <div class="team_hover">
                                <div class="hover_inner text-center">
                                    <ul>
                                        <li><a href="https://github.com/sandy13521"> <i class="fab fa-github"></i>
                                        </a>
                                        </li>
                                        <li><a href="https://www.linkedin.com/in/sandeepns/"> <i
                                                class="fab fa-linkedin"></i> </a></li>
                                        <li><a href="https://www.instagram.com/sandeep_n_s/"> <i
                                                class="fab fa-instagram"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team_title text-center">
                            <h3>Sandeep NS</h3>
                            <p>Web Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact -->
<div class="get_in_tauch_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-90">
                    <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Get in Touch</h3>
                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">We are open to all your
                        feedbacks and opinions on Learn. Either for queries or feedback, contact us here.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="touch_form">
                    <form action="/about" method="POST" id="emailForm">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                    <input id="name" name="name" type="text" placeholder="Your Name*" required
                                           style="width: 100%;">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12">
                                <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                                    <input id="email" name="email" type="email" placeholder="Email*" required>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12">
                                <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                                    <input id="subject" name="subject" type="text" placeholder="Subject*" required>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                                        <textarea id="message" name="message" cols="30" placeholder="Message*" rows="10"
                                                  required></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12" style="float: right;">
                                <div class="submit_btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
                                    <input type="submit" class="boxed-btn3"/>
                                    <!-- <button class="boxed-btn3" type="submit">Send Message</button> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-3">
                    <div class="footer_logo wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                        <a href="/" style="color: white;">
                            <img src="/views/home/img/playstore.png" alt="" style="height: 40px;width: 40px">Learn
                        </a>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-9">
                    <div class="menu_links">
                        <ul>
                            <li><a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".2s"
                                   href="/about">About</a>
                            </li>
                            <li><a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".4s"
                                   href="/login">Login</a></li>
                            <li><a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".6s"
                                   href="/signup">Sign up</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="socail_links">
                        <ul>
                            <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" href="#"> <i
                                    class="fab fa-facebook"></i> </a></li>
                            <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s" href="#"> <i
                                    class="fab fa-twitter"></i> </a></li>
                            <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s" href="#"> <i
                                    class="fab fa-instagram"></i> </a></li>
                            <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s" href="#"> <i
                                    class="fab fa-google-plus"></i> </a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <p style="text-align: center;">Copyrights &nbsp; <i class="far fa-copyright" aria-hidden="true"></i> 2020
            &nbsp;
            Learn
        </p>
    </div>
</footer>

<!-- Firebase Scripts -->
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-storage.js"></script>
<script type="text/javascript" src="/views/client/firebase.js"></script>
<script type="text/javascript" src="/views/client/loginPage.js"></script>

<script src="/views/home/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/views/home/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/views/home/js/popper.min.js"></script>
<script src="/views/home/js/bootstrap.min.js"></script>
<script src="/views/home/js/owl.carousel.min.js"></script>
<script src="/views/home/js/isotope.pkgd.min.js"></script>
<script src="/views/home/js/ajax-form.min.js"></script>
<script src="/views/home/js/waypoints.min.js"></script>
<script src="/views/home/js/jquery.counterup.min.js"></script>
<script src="/views/home/js/imagesloaded.pkgd.min.js"></script>
<script src="/views/home/js/scrollIt.min.js"></script>
<script src="/views/home/js/jquery.scrollUp.min.js"></script>
<script src="/views/home/js/wow.min.js"></script>
<script src="/views/home/js/nice-select.min.js"></script>
<script src="/views/home/js/jquery.slicknav.min.js"></script>
<script src="/views/home/js/jquery.magnific-popup.min.js"></script>
<script src="/views/home/js/plugins.min.js"></script>
<script src="/views/home/js/gijgo.min.js"></script>
<script src="/views/home/js/contact.min.js"></script>
<script src="/views/home/js/jquery.ajaxchimp.min.js"></script>
<script src="/views/home/js/jquery.form.min.js"></script>
<script src="/views/home/js/jquery.validate.min.js"></script>
<script src="/views/home/js/mail-script.min.js"></script>
<script src="/views/home/js/main.min.js"></script>
</body>

</html>