<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Title -->
    <title>Forgot Password</title>
    <link rel="icon" type="image/png" href="/views/home/img/playstore.png">
    <!-- CSS -->
    <link rel="stylesheet" href="views/auth/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="views/auth/css/style.min.css">
</head>
<body>
<div class="main slider_area">
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="views/auth/images/login.svg" alt="sing up image"></figure>
                    <a href="/login" class="signup-image-link">Go Back</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Reset Password</h2>
                    <form method="POST" class="register-form" id="login-form" action="javascript:forgotPassword()">
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="text" name="email" id="email" placeholder="Email" required>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" id="signin" class="form-submit" value="Reset Password" style="background-color: #8C54A1"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- JS -->
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-storage.js"></script>
<script type="text/javascript" src="/views/client/firebase.js"></script>
<script type="text/javascript" src="/views/client/auth.js"></script>

<script src="views/auth/vendor/jquery/jquery.min.js"></script>
<script src="views/auth/js/main.js"></script>
</body>
</html>