<!doctype html>
<html lang="en">

<head>
    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Learn | Home</title>

    <!-- Icon -->
    <link rel="icon" type="image/png" href="/views/home/img/playstore.png">

    <!-- Link CSS Files -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="/views/home/css/bootstrap.min.css">
    <link rel="stylesheet" href="/views/home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/views/home/css/magnific-popup.min.css">
    <link rel="stylesheet" href="/views/home/css/font-awesome.min.css">
    <link rel="stylesheet" href="/views/home/css/themify-icons.min.css">
    <link rel="stylesheet" href="/views/home/css/nice-select.min.css">
    <link rel="stylesheet" href="/views/home/css/flaticon.min.css">
    <link rel="stylesheet" href="/views/home/css/gijgo.min.css">
    <link rel="stylesheet" href="/views/home/css/animate.min.css">
    <link rel="stylesheet" href="/views/home/css/slick.min.css">
    <link rel="stylesheet" href="/views/home/css/slicknav.min.css">
    <link rel="stylesheet" href="/views/home/css/style.min.css">
</head>

<body>
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="/" style="color: white;font-size: 30px">
                                <img src="/views/home/img/playstore.png" alt="Learn" style="height: 52px;width: 52px;">Learn
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8">
                        <div class="main-menu  d-none d-lg-block text-center">
                            <nav>
                                <ul id="navigation">
                                    <li><a class="active" href="/">Home</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/signup">Sign up</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Tagline -->
<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
        <div class="container">
            <div class="row align-items-center justify-content-start">
                <div class="col-lg-10 col-md-10">
                    <div class="slider_text">
                        <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                            Wanna be a star? Learn
                        </h3>
                        <h4 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s" style="color: white;">
                            We show the difference between learning and studying.
                        </h4>
                    </div>
                </div>
            </div>
            <div style="display: flex;justify-content:space-evenly"><a data-scroll="" href="#whylearn">
                <i class="fas fa-chevron-down fa-2x" style="color: white;margin-top: 14vh" aria-hidden="true"></i>
            </a></div>
        </div>
    </div>
</div>

<!-- About -->
<div class="about_area" id="whylearn">
    
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-5 offset-lg-1">
                <div class="about_info">
                    <div class="section_title white_text">
                        <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s" style="color: black;">About Learn</h3>
                        <p class="mid_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s" style="color: black;">Learn aims to
                            provide
                            curated educational resources, made available by various educators and content creators
                            around the world, across various domains, to students.
                            We at Learn believe that we must learn the concepts for better understanding and skill
                            development, not just study with academic interest.
                            Learn provides a platform for learners to access various resources such as Videos, Courses,
                            etc.</p>
                            <div style="display:flex;">
                            <a href="/login"><button class="btn" style="background-color: #8C54A1;margin-right:10px;color:white;">Login</button></a> 
                            <a href="/signup"><button class="btn" style="background-color: #000;font-weight:bold;color:#8C54A1;">Sign Up</button></a>                        
                            </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-3">
                    <div class="footer_logo wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                        <a href="/" style="color: white;">
                            <img src="/views/home/img/playstore.png" alt="" style="height: 40px;width: 40px">Learn
                        </a>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-9">
                    <div class="menu_links">
                        <ul>
                            <li><a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".2s"
                                   href="/about">About</a>
                            </li>
                            <li><a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".4s"
                                   href="/login">Login</a></li>
                            <li><a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".6s"
                                   href="/signup">Sign up</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="socail_links">
                        <ul>
                            <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" href="#"> <i
                                    class="fab fa-facebook"></i> </a></li>
                            <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s" href="#"> <i
                                    class="fab fa-twitter"></i> </a></li>
                            <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s" href="#"> <i
                                    class="fab fa-instagram"></i> </a></li>
                            <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s" href="#"> <i
                                    class="fab fa-google-plus"></i> </a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <p style="text-align: center;">Copyrights &nbsp; <i class="far fa-copyright" aria-hidden="true"></i> 2020 &nbsp; 
            Learn
          </p>
    </div>
</footer>

<!-- Linking JavaScripts -->
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-storage.js"></script>
<script type="text/javascript" src="/views/client/firebase.js"></script>
<script type="text/javascript" src="/views/client/loginPage.js"></script>

<script src="/views/home/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/views/home/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/views/home/js/popper.min.js"></script>
<script src="/views/home/js/bootstrap.min.js"></script>
<script src="/views/home/js/owl.carousel.min.js"></script>
<script src="/views/home/js/isotope.pkgd.min.js"></script>
<script src="/views/home/js/ajax-form.js"></script>
<script src="/views/home/js/waypoints.min.js"></script>
<script src="/views/home/js/jquery.counterup.min.js"></script>
<script src="/views/home/js/imagesloaded.pkgd.min.js"></script>
<script src="/views/home/js/scrollIt.js"></script>
<script src="/views/home/js/jquery.scrollUp.min.js"></script>
<script src="/views/home/js/wow.min.js"></script>
<script src="/views/home/js/nice-select.min.js"></script>
<script src="/views/home/js/jquery.slicknav.min.js"></script>
<script src="/views/home/js/jquery.magnific-popup.min.js"></script>
<script src="/views/home/js/plugins.js"></script>
<script src="/views/home/js/gijgo.min.js"></script>
<script src="/views/home/js/contact.js"></script>
<script src="/views/home/js/jquery.ajaxchimp.min.js"></script>
<script src="/views/home/js/jquery.form.js"></script>
<script src="/views/home/js/jquery.validate.min.js"></script>
<script src="/views/home/js/mail-script.js"></script>
<script src="/views/home/js/main.js"></script>
</body>

</html>