<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Learn | Login</title>
    <link rel="icon" type="image/png" href="/views/home/img/playstore.png">
    <!-- CSS -->
    <link rel="stylesheet" href="views/auth/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="stylesheet" href="views/auth/css/style.min.css">

    <link rel="stylesheet" href="/views/home/css/bootstrap.min.css">
    <link rel="stylesheet" href="/views/home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/views/home/css/magnific-popup.min.css">
    <link rel="stylesheet" href="/views/home/css/font-awesome.min.css">
    <link rel="stylesheet" href="/views/home/css/themify-icons.min.css">
    <link rel="stylesheet" href="/views/home/css/nice-select.min.css">
    <link rel="stylesheet" href="/views/home/css/flaticon.min.css">
    <link rel="stylesheet" href="/views/home/css/gijgo.min.css">
    <link rel="stylesheet" href="/views/home/css/animate.min.css">
    <link rel="stylesheet" href="/views/home/css/slick.min.css">
    <link rel="stylesheet" href="/views/home/css/slicknav.min.css">
    <link rel="stylesheet" href="/views/home/css/style.min.css">
</head>

<body>
    <!-- <header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="/" style="color: black;font-size: 30px"> -->
    <!-- must add learn logo with name -->
    <!-- <img src="/views/home/img/playstore.png" alt="Learn" style="height: 52px;width: 52px;">Learn -->
    <!-- <h3 style="color: white">Learn</h3> -->
    <!-- </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header> -->
    <!-- TODO: Do CSS. Make it Beautiful. -->
    <div class="main slider_area">
        <section class="sign-in">
            <div class="container">

                <div class="signin-content">
                    <a href="/">
                        <div style="display: flex;justify-content: center;margin-top: -40px;margin-left: 25px;">
                            <img src="/views/home/img/playstore.png" alt="Learn" style="height: 32px;width: 32px;">
                            <h3 style="margin-top:4px">Learn</h3>
                        </div>
                    </a>
                    <div class="signin-image">
                        <figure><img src="views/auth/images/learn_illustration.png" alt="sign-in image"></figure>
                        <div style="display: flex; margin-left: 5em;align-content: center;">
                            <h4 style="margin-right: 10px;margin-top: 6px;">New user?</h4>
                            <a href="/signup" class="signup-image-link">Create an account</a>
                        </div>

                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Login to LEARN</h2>
                        <form method="POST" class="register-form" id="login-form" action="/login">
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="Password" required>
                            </div>
                            <a href="/forgot" style="float: right;">Forgot Password?</a>
                            <div class="form-group form-button">
                                <input type="submit" id="signin" class="form-submit" value="Log in"
                                    style="background-color:#8C54A1;" />

                            </div>
                        </form>
                        <p></p>
                        <div class="social-login">
                            <!-- <h4><span class="social-label">Or login with</span></h4>-->
                            <ul class="socials">
                                <!-- <li><a href="/login/google"><i class="display-flex-center zmdi zmdi-google"></i></a>
                                </li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-apple"></i></a></li> -->
                                <!-- <li> -->
                                <li>
                                    <div class="col s1 m1 offset-m2 center-align"
                                        style="border: black 1px solid;border-radius: 5px;align-content: center;;margin-right: 15px;">
                                        <a class="oauth-container btn darken-4 white black-text"
                                            href="javascript:signInWithGoogle()" style="text-transform:none">
                                            <div class="left">
                                                <img width="20px" alt="Google sign-in"
                                                    style="float: left;margin-right:10px;margin-top: 2px;"
                                                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                            </div>
                                            Login with Google
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-firestore.js"></script>
    <script>
        function signInWithGoogle() {
            const firebaseConfig = {
                apiKey: "AIzaSyBasifU1_o2rfiptyJEA7GRoXszwySbHek",
                authDomain: "learn-634be.firebaseapp.com",
                databaseURL: "https://learn-634be.firebaseio.com",
                projectId: "learn-634be",
                storageBucket: "learn-634be.appspot.com",
                messagingSenderId: "172846432484",
                appId: "1:172846432484:web:d0ae995eeef4323f0fecf1",
                measurementId: "G-0W9LD4N2GM"
            };
            firebase.initializeApp(firebaseConfig);
            let provider = new firebase.auth.GoogleAuthProvider();
            console.log("LOCATION: " + location.protocol);
            firebase.auth().signInWithPopup(provider).then(function (result) {
                const token = result.credential.accessToken;
                const user = result.user;
                console.log(user.uid);
                window.location.pathname = "/dashboard";
                console.log("YESSSSSSSSSSSSSSSSSSSS");
            }).catch(function (error) {
                const errorCode = error.code;
                const errorMessage = error.message;
                const email = error.email;
                const credential = error.credential;
                console.log("Alpha");
                console.log(errorCode + ": " + email + " " + errorMessage);
            });
        }
    </script>

    <script src="views/auth/vendor/jquery/jquery.min.js"></script>
    <script src="views/auth/js/main.js"></script>

    <script src="/views/home/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/views/home/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/views/home/js/popper.min.js"></script>
    <script src="/views/home/js/bootstrap.min.js"></script>
    <script src="/views/home/js/owl.carousel.min.js"></script>
    <script src="/views/home/js/isotope.pkgd.min.js"></script>
    <script src="/views/home/js/ajax-form.min.js"></script>
    <script src="/views/home/js/waypoints.min.js"></script>
    <script src="/views/home/js/jquery.counterup.min.js"></script>
    <script src="/views/home/js/imagesloaded.pkgd.min.js"></script>
    <script src="/views/home/js/scrollIt.min.js"></script>
    <script src="/views/home/js/jquery.scrollUp.min.js"></script>
    <script src="/views/home/js/wow.min.js"></script>
    <script src="/views/home/js/nice-select.min.js"></script>
    <script src="/views/home/js/jquery.slicknav.min.js"></script>
    <script src="/views/home/js/jquery.magnific-popup.min.js"></script>
    <script src="/views/home/js/plugins.min.js"></script>
    <script src="/views/home/js/gijgo.min.js"></script>
    <script src="/views/home/js/contact.min.js"></script>
    <script src="/views/home/js/jquery.ajaxchimp.min.js"></script>
    <script src="/views/home/js/jquery.form.min.js"></script>
    <script src="/views/home/js/jquery.validate.min.js"></script>
    <script src="/views/home/js/mail-script.min.js"></script>
    <script src="/views/home/js/main.js"></script>
</body>

</html>