<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Login</title>

    <!-- CSS -->
    <link rel="stylesheet" href="views/auth/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="views/auth/css/style.css">
    <link rel="stylesheet" href="/views/home/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/views/home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/views/home/css/magnific-popup.css">
    <link rel="stylesheet" href="/views/home/css/font-awesome.min.css">
    <link rel="stylesheet" href="/views/home/css/themify-icons.css">
    <link rel="stylesheet" href="/views/home/css/nice-select.css">
    <link rel="stylesheet" href="/views/home/css/flaticon.css">
    <link rel="stylesheet" href="/views/home/css/gijgo.css">
    <link rel="stylesheet" href="/views/home/css/animate.min.css">
    <link rel="stylesheet" href="/views/home/css/slick.css">
    <link rel="stylesheet" href="/views/home/css/slicknav.css">
    <link rel="stylesheet" href="/views/home/css/style.css">
</head>
<body>
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="/" style="color: black;font-size: 30px">
                                <!-- must add learn logo with name -->
                                <img src="/views/home/img/playstore.png" alt="Learn" style="height: 52px;width: 52px;">Learn
                                <!-- <h3 style="color: white">Learn</h3> -->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- TODO: Do CSS. Make it Beautiful. -->
<div class="main slider_area">
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="views/auth/images/login.svg" alt="sing up image"></figure>
                    <a href="/signup" class="signup-image-link">Create an account</a>
                    <a href="/forgot">Forgot Password?</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Login to LEARN</h2>
                    <form method="POST" class="register-form" id="login-form" action="/login">
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="email" id="email" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <label for="password"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password" id="password" placeholder="Password" required>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" id="signin" class="form-submit" value="Log in" style="background-color:#8C54A1;"/>
                        </div>
                    </form>
                    <div class="social-login">
                        <h4><span class="social-label">Or login with</span></h4>
                        <ul class="socials">
                            <li><a href="/login/google"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-apple"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- JS -->
<script src="views/auth/vendor/jquery/jquery.min.js"></script>
<script src="views/auth/js/main.js"></script>
<script src="/views/home/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/views/home/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/views/home/js/popper.min.js"></script>
<script src="/views/home/js/bootstrap.min.js"></script>
<script src="/views/home/js/owl.carousel.min.js"></script>
<script src="/views/home/js/isotope.pkgd.min.js"></script>
<script src="/views/home/js/ajax-form.js"></script>
<script src="/views/home/js/waypoints.min.js"></script>
<script src="/views/home/js/jquery.counterup.min.js"></script>
<script src="/views/home/js/imagesloaded.pkgd.min.js"></script>
<script src="/views/home/js/scrollIt.js"></script>
<script src="/views/home/js/jquery.scrollUp.min.js"></script>
<script src="/views/home/js/wow.min.js"></script>
<script src="/views/home/js/nice-select.min.js"></script>
<script src="/views/home/js/jquery.slicknav.min.js"></script>
<script src="/views/home/js/jquery.magnific-popup.min.js"></script>
<script src="/views/home/js/plugins.js"></script>
<script src="/views/home/js/gijgo.min.js"></script>
<script src="/views/home/js/contact.js"></script>
<script src="/views/home/js/jquery.ajaxchimp.min.js"></script>
<script src="/views/home/js/jquery.form.js"></script>
<script src="/views/home/js/jquery.validate.min.js"></script>
<script src="/views/home/js/mail-script.js"></script>
<script src="/views/home/js/main.js"></script>
</body>
</html>