<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Title -->
    <title>Learn | Sign Up</title>
    <link rel="icon" type="image/png" href="/views/home/img/playstore.png">
    <!-- CSS -->
    <link href="views/client/infoAlert.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="views/auth/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="views/auth/css/style.min.css">
</head>
<body>
<!-- TODO: Add Learn Logo and Link -->

<div class="main">
    <section class="signup">
        <div class="container">
            <div id="alerts"></div>
            <div class="signup-content">
                <div class="signup-image">
                    <figure><img src="views/auth/images/learn_illustration.png" alt="sign up image"></figure>
                    <a href="/login" class="signup-image-link">I am already member</a>
                </div>
                <div class="signup-form">
                    <a href="/" style="text-decoration: none;">
                    </a>
                    <div style="display: flex;">
                    <h3 style="font-weight: 900;margin-bottom: 7%;font-size: 20px;">Sign up to LEARN </h3><img src="/views/home/img/playstore.png" alt="Learn" style="height: 38px;width: 38px;margin-top:6%">
                    </div>
                    <form class="register-form" id="register-form" action="javascript:checkAgree()">
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="name" id="name" placeholder="Enter Name" required/>
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="email" id="email" placeholder="Enter Email" required/>
                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="pass" id="pass" placeholder="Enter password" required/>
                        </div>
                        <div class="form-group">
                            <label for="re_pass"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="password" name="re_pass" id="re_pass" placeholder="Confirm password"
                                   required/>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="check" class="agree-term"/>
                            <label for="check" class="label-agree-term"><span><span></span></span>I have read and agree to the <a href="https://firebasestorage.googleapis.com/v0/b/learn-634be.appspot.com/o/Privacy%20Policies%20and%20T%26Cs%2FTC.html?alt=media&token=0ca0b178-1dca-4c2d-9440-07c5da1b96ae" target="_blank" class="term-service">Terms and Conditions</a> and <a href="https://firebasestorage.googleapis.com/v0/b/learn-634be.appspot.com/o/Privacy%20Policies%20and%20T%26Cs%2FPP.html?alt=media&token=a9841668-2719-4cd6-a740-be0e6755b0a9" target="_blank" class="term-service">Privacy Policy</a></label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Register" style="background-color:#8C54A1;"/>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </section>
</div>

<!-- JS -->
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-storage.js"></script>
<script type="text/javascript" src="/views/client/firebase.js"></script>
<script type="text/javascript" src="/views/client/auth.js"></script>
<script type="text/javascript" src="/views/client/signUpPage.js"></script>
<script type="text/javascript" src="/views/client/infoAlert.js"></script>
<script src="views/auth/vendor/jquery/jquery.min.js"></script>
<script src="views/auth/js/main.js"></script>
</body>
</html>